html,body{overflow-x:hidden !important}

*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

html {
  scroll-behavior: smooth;
}
body {
    background-color: var(--bg-body);
    font-family: var(--main-font);
    color: var(--color-text);
}
button {
    font-family: var(--main-font);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;}

// Container
.container {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    @include breakpoint(phone) {
        max-width: 780px;
        margin-left: auto;
        margin-right: auto;
    }
    @include breakpoint(tablet-lg) {
        max-width: 980px;
        margin-left: auto;
        margin-right: auto;
    }
    @include breakpoint(desktop-lg) {
        max-width: 1212px;
        margin-left: auto;
        margin-right: auto;
    }
}

.grid {
    display: grid;
    grid-gap: 60px 40px;
    @include breakpoint(phone) {
        grid-gap: 60px;
    }
    &.grid--3 {
        grid-template-columns: repeat(2, 1fr);
        @include breakpoint(phone) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.btn {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    background: rgb(66,18,131);
    background: linear-gradient(115deg, rgba(66,18,131,1) 0%, rgba(75,31,157,1) 54%, rgba(151,47,236,1) 100%);
    border-radius: 8px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    padding: 0 50px;
    color: var(--color-white);
    cursor: pointer;
    outline: none;
    border: none;
    transition: all .4s ease-in-out;
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 3px 7px rgba(0,0,0, .2);
    }
    &.btn--icon-right {
        padding-right: 25px;
        i {
            margin-left: 25px;
        }
    }
}

.title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
    &.title--lg {
        font-size: 30px;
        @include breakpoint(tablet-lg) {
            font-size: 48px;
        }
    }
    &.title--uppercase {
        text-transform: uppercase;
    }
    &.title--border {
        text-align: center;
        @include breakpoint(phone) {
            text-align: left;
        }
        &:after {
            display: block;
            content: '';
            height: 4px;
            width: 22px;
            background-color: var(--color-black);
            margin: 20px auto 0 auto;
            @include breakpoint(phone) {
                margin: 20px 0 0 0;
            }
        }
    }
}

.logo {
    display: block;
    text-align: center;
    opacity: .8;
    transition: all .3s ease-in-out;
    &:hover {
        opacity: 1;
    }
    img {
        max-width: 100%;
        align-self: center;
    }
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint(phone) {
        margin: 0 -12px;
        justify-content: flex-start;
    }
    a {
        font-size: 21px;
        margin: 0 12px;
        color: var(--color-black);
        &:hover {
            color: var(--color-primary);
        } 
    }
    &.social--white {
        a {
            color: var(--color-white);
        }
    }
    &.social--lg {
        font-size: 35px;
        margin: 0 20px;
    }
}


.header {
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
    @include breakpoint(phone) {
        height: 100px;
    }
    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include breakpoint(phone) {
            justify-content: space-between;
        }
    }
    .header__logo {
        display: block;
        margin-left: -20px;
        svg {
            width: 200px;
            @include breakpoint(phone) {
                width: 260px;
            }
        }
    }
    .header__menu {
        display: none;
        @include breakpoint(phone) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: auto;
            height: 100%;
        }
    }
    .header__nav {
        margin-right: 40px;
        a {
            text-transform: uppercase;
            margin: 0 10px;
            font-size: 14px;
            color: var(--color-black);
            &:hover {
                color: var(--color-primary);
            } 
        }
    }
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    @include breakpoint(phone) {
        grid-template-columns: 4fr 6fr 6fr;
    }
    .gallery__item {
        display: block;
        cursor: pointer;
        background-color: var(--color-black);
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 164px;
        overflow: hidden;
        @include breakpoint(phone) {
            height: 188px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .3s ease-in-out;
        }
        &:hover {
            img {
                transform: scale(1.08);
                filter: grayscale(50%) contrast(110%);
            }
        }
        &:first-child {
            @include breakpoint(phone) {
                height: 285px;
                margin-bottom: -92px;
            }
        }
        &:nth-child(4) {
            @include breakpoint(phone) {
                height: 286px;
                margin-top: 92px;
            }
        }
        &:last-child {
            grid-column: span 2;
            height: 348px;
            @include breakpoint(phone) {
                height: 378px;
            }
        }
    }
}

.block {
    overflow: hidden;
    > .container {
        @include breakpoint(phone) {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .block__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        opacity: .2;
    }
    .block__list {
        display: grid;
        grid-gap: 20px;
        @include breakpoint(phone) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 25px 50px;
        }
        li {
            i {
                font-size: 21px;
                margin-right: 15px;
            }
            a {
                font-style: 18px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .block__txt {
        p {
            line-height: 150%;
            margin-bottom: 20px;
            color: var(--color-text-alt);
            font-size: 15px;
            font-style: italic;
        }
    }
    &.block--hero {
        overflow: hidden;
        position: relative;
        padding: 100px 0 20px;
        @include breakpoint(phone) {
            padding: 150px 0 50px;
        }
        @include breakpoint(tablet-lg) {
            height: 100vh;
            max-height: 730px;
        }
        @include breakpoint(desktop-lg) {
            max-height: 860px;
        }
        @include breakpoint(desktop-xl) {
            max-height: none;
        }
        > .container {
            position: relative;
            z-index: 10;
            @include breakpoint(phone) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                height: 100%;
            }
        }
        .block__content {
            .title {
                margin-bottom: 30px;
            }
            .container-song-title{
                > .title{
                    width: 100%;
                }
                .playlist-container {
                    opacity: .5;
                    @include breakpoint(phone) {
                        opacity: 1;
                    }
                }
                &.is-active {
                    transform: translateX(120%);
                    transition: all .6s ease-in-out;
                    .playlist-container {
                        opacity: 1;
                    }
                    .overlay-playlist {
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
        }
        .block__img {
            backface-visibility: hidden;
            position: absolute;
            bottom: 0;
            max-height: calc(100% - 50px);
            width: 100%;
            object-fit: contain;
            z-index: 5;
            opacity: .2;
            @include breakpoint(phone) {
                right: -100px;
                opacity: 1;
                width: auto;
                max-height: calc(100% - 50px);
            }
            @include breakpoint(desktop-lg) {
                right: 0;
            }
            &.img-playing{
                opacity: .2;
                transition: opacity 1s linear;
            }
        }
    }
    &.block--bottom {
        position: relative;
        padding: 50px 0;
        text-align: center;
        @include breakpoint(phone) {
            padding: 110px 0;
            text-align: left;
        }
        .title {
            margin-bottom: 60px;
            @include breakpoint(phone) {
                margin-right: 60px;
                white-space: nowrap;
                margin-bottom: 0;
            }
        }
    }
    &.block--about {
        padding: 50px 0;
        text-align: center;
        position: relative;
        @include breakpoint(phone) {
            padding: 100px 0;
            text-align: left;
        }
        @include breakpoint(desktop-lg) {
            padding: 250px 0;
        }
        > .container {
            position: relative;
            z-index: 10;
            display: block;
            @include breakpoint(tablet-lg) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                height: 100%;
            }
            @include breakpoint(desktop-lg) {
                grid-template-columns: 7fr 5fr;
            }
        }
        .block__content {
            margin-bottom: 50px;
            @include breakpoint(phone) {
                order: 2;
            }
            @include breakpoint(tablet-lg) {
                padding-left: 50px;
                margin-bottom: 0;
            }
            @include breakpoint(desktop-lg) {
                padding-left: 100px;
            }
        }
        .block__about {
            text-align: center;
            @include breakpoint(tablet-lg) {
                float: right;
                margin-top: 0px;
            }
            @include breakpoint(desktop-lg) {
                margin-top: -25px;
            }
            p {
                font-size: 16px;
                font-weight: 700;
            }
            img {
                max-width: 150px;
                margin-bottom: 10px;
                image-rendering: -webkit-optimize-contrast;
                @include breakpoint(desktop-lg) {
                    max-width: 200px;
                }
            }
        }
    }
    &.block--footer {
        text-align: center;
        position: relative;
        @include breakpoint(phone) {
            text-align: left;
        }
        .block__content {
            padding: 50px 0;
            position: relative;
            z-index: 10;
            @include breakpoint(phone) {
                padding: 180px 0;
            }
        }
        > .container {
            position: relative;
            z-index: 10;
            @include breakpoint(phone) {
                display: grid;
                height: 100%;
                grid-template-columns: 8fr 4fr;
            }
            @include breakpoint(tablet-lg) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
        .block__list {
            margin-bottom: 50px;
            @include breakpoint(phone) {
                margin-bottom: 70px;
            }
        }
        .block__bottom {
            display: grid;
            grid-gap: 20px;
            align-items: center;
            @include breakpoint(phone) {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 25px 50px;
            }
            p {
                font-size: 12px;
            }
        }
        .block__img {
            max-width: 100%;
            left: 0;
            position: absolute;
            top: 0;
            @include breakpoint(phone) {
                max-width: 750px;
                right: -100px;
                left: inherit;
            }
        }
        .title {
            &.title--border {
                margin-bottom: 30px;
                @include breakpoint(phone) {
                    margin-bottom: 70px;
                }
                &:after {
                    background-color: #fff;
                }
            }
        }
        &.is-player-active {
            margin-bottom: 114px;
        }
    }
    &.block--gradient {
        color: var(--color-white);
        background: rgb(66,18,131);
        background: linear-gradient(115deg, rgba(66,18,131,1) 0%, rgba(75,31,157,1) 54%, rgba(151,47,236,1) 100%);
    }

    &.block--gradient-continuar {
        color: var(--color-white);
        background: rgb(135,10,10);
        background: linear-gradient(110deg, rgba(135,10,10,1) 0%, rgba(74,5,5,1) 23%, rgba(31,19,19,1) 45%, rgba(31,19,19,1) 60%, rgba(55,54,54,1) 100%, rgba(116,116,116,1) 100%);
    }

    &.block--gradient-grados180 {
        color: var(--color-white);
        background: rgb(57,191,4);
        background: linear-gradient(110deg, rgba(57,191,4,1) 0%, rgba(46,129,15,1) 34%, rgba(36,99,14,1) 58%, rgba(21,31,21,1) 100%);
    }

    &.block--gradient-asiEs {
        color: var(--color-white);
        background: rgb(121,5,184);
        background: linear-gradient(110deg, rgba(121,5,184,1) 0%, rgba(98,4,150,1) 0%, rgba(81,3,122,1) 16%, rgba(84,0,129,1) 22%, rgba(104,5,154,1) 58%, rgba(243,157,194,1) 100%, rgba(243,157,194,1) 100%);
    }

    &.block--gradient-caeLaPared {
        color: var(--color-white);
        background: rgb(91,53,102);
        background: linear-gradient(115deg, rgba(91,53,102,1) 0%, rgba(49,28,55,1) 22%, rgba(49,28,55,1) 42%, rgba(78,46,87,1) 63%, rgba(78,46,87,1) 73%, rgba(97,52,110,1) 100%);
    }

    &.block--gradient-errorYPrueba {
        color: var(--color-white);
        background: rgb(66,18,131);
        background: linear-gradient(115deg, rgba(66,18,131,1) 0%, rgba(75,31,157,1) 54%, rgba(151,47,236,1) 100%);
    }

    &.block--gradient-estoyBien {
        color: var(--color-white);
        background: rgb(215,0,40);
        background: linear-gradient(115deg, rgba(215,0,40,1) 0%, rgba(142,0,26,1) 26%, rgba(136,0,25,1) 53%, rgba(125,144,106,1) 100%, rgba(125,144,106,1) 100%, rgba(164,0,15,1) 100%);
    }

    &.block--gradient-llamadasPerdidas {
        color: var(--color-white);
        background: rgb(161,8,106);
        background: linear-gradient(115deg, rgba(161,8,106,1) 0%, rgba(113,4,74,1) 25%, rgba(119,6,79,1) 56%, rgba(201,6,152,1) 93%);
    }

    &.block--gradient-superLento {
        color: var(--color-white);
        background: rgb(16,49,101);
        background: linear-gradient(115deg, rgba(16,49,101,1) 0%, rgba(16,49,101,1) 27%, rgba(42,48,113,1) 58%, rgba(49,57,136,1) 73%, rgba(80,91,209,1) 100%);
    }

    &.block--gradient-vietnam {
        color: var(--color-white);
        background: rgb(17,115,55);
        background: linear-gradient(115deg, rgba(17,115,55,1) 0%, rgba(17,115,55,1) 2%, rgba(70,115,90,1) 42%, rgba(70,115,90,1) 54%, rgba(66,149,193,1) 100%, rgba(66,149,193,1) 100%);
    }
}

.songs {
    position: relative;
    .overlay-playlist {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        visibility: visible;
        transition: all .4s ease-in-out;
        @include breakpoint(phone) {
            background-color: rgba(255,255,255,.8);
            width: 75%;
        }
    }
}

.playlist-container {
    @include breakpoint(phone) {
        width: 75%;
    }
    .song-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .song-name {
            text-align: left;
            font-size: 14px;
            text-transform: uppercase;
            background: transparent;
            border: none;
            padding: 0;
            cursor: pointer;
            outline: none;
            font-weight: 500;
            &:hover {
                color: var(--color-primary);
            }
            &.current {
                font-weight: 700;
                pointer-events: none;
            }
        }
        .song-options {
            margin-left: auto;
            display: flex;
            align-items: center;
        }
        .song-duration {
            margin-right: 1rem;
            color: var(--color-black);
            opacity: .7;
            font-size: 13px;
        }
        .song-link {
            display: block;
            padding: 10px;
            color: var(--color-black);
            opacity: .7;
            font-size: 14px;
            margin-right: .5rem;
            transition: all .2s ease-in-out;
            &:hover {
                color: var(--color-primary);
                opacity: 1;
            }
        }
        .play-button {
            background-color: transparent;
            color: var(--color-black);
            border: none;
            padding: 10px;
            outline: none;
            cursor: pointer;
            font-size: 14px;
            transition: all .2s ease-in-out;
            &:hover {
                color: var(--color-primary);
            }
        }
    }
}

.song-detail-container{
    position: absolute;
    width: 100%;
    @include breakpoint(phone) {
        max-width: 400px;
    }
    @include breakpoint(tablet-lg) {
        max-width: 550px;
    }
    &:before {
        display: block;
        content: '';
        position: absolute;
        z-index: 1;
        top: 30px;
        left: 0;
        right: 0;
        height: 30px;
        background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    }
    &:after {
        display: block;
        content: '';
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        background-image: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    }
    .options-container{
        width: 90%;
        padding: 0 1rem;
        .options-button{
            display: inline-flex;
            justify-content: center;
            height: 30px;
            align-items: center;
            padding: 0 2rem;
            border-bottom: solid 1px #ccc;
            font-size: 12px;
            text-transform: uppercase;
            width: 33.33%;
            @include breakpoint(phone) {
                width: auto;
            }
        }
        .options-active{
            border-bottom: solid 1px black;
            font-weight: 700;
        }
    }
    .detail-container{
        overflow-y: auto;
        height: 400px;
        padding: 30px 1rem;
        @include breakpoint(tablet-lg){
            max-width: 490px;
        }
        > div {
            position: relative;
            > div {
                position: absolute;
                width: 100%;
                padding-bottom: 100px;
                p {
                    white-space: pre-wrap;
                    line-height: 200%;
                }
            }
        }
    }
}

.rhap_container{
    position:fixed;
    bottom: 0;
    z-index: 900;
    transition: all .3s ease-in-out;
    transform: translateY(100%);
    &.active {
        transform: translateY(0);
    }
} 

/* 
will run on items added after initial mount
*/
.example-enter {
    opacity: 0.01;
  }
  .example-enter-active {
    opacity: 1;
    transition: opacity 1500ms ease-in;
  }
  .example-enter-done {
    opacity: 1;
  }
  /* 
  will run on any item being removed
  */
  .example-exit {
    opacity: 0.5;
  }
  .example-exit-active {
    opacity: 1;
    transition: opacity 600ms ease-in-out;
  }
  .example-exit-done {
    opacity: 0;
  }
  /* 
  set to false by default.
  will run on initial mount only
  */
  .example-appear {
    opacity: 0.01;
  }
  .example-appear-active {
    opacity: 1;
    transition: opacity 1200ms ease-in-out;
  }
  .example-appear-done {
    /* doesn't exist  use -enter-done */
    opacity: 1;
  }
  
  // FADE
  
  .fade-appear,
  .fade-enter {
    opacity: 0;
    z-index: 1;
    position: absolute;
    width: 100%;
  }
  .fade-appear-active,
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
    position: absolute;
    width: 100%;
  }
  
  .fade-exit {
    opacity: 1;
    position: absolute;
    width: 100%;
  }
  
  .fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms linear 150ms;
    position: absolute;
    width: 100%;
  }
  
  .fade-enter-done {
    position: absolute;
  }

.pswp {
    z-index: 9999 !important;
}
.pswp__bg {
    background: rgba(255,255,255,.9) !important;
}