html,body{overflow-x:hidden !important}

*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

body {
    background-color: var(--bg-body);
    font-family: var(--main-font);
    color: var(--color-text);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;}

// Container
.container {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    @include breakpoint(phone) {
        max-width: 780px;
        margin-left: auto;
        margin-right: auto;
    }
    @include breakpoint(tablet-lg) {
        max-width: 980px;
        margin-left: auto;
        margin-right: auto;
    }
    @include breakpoint(desktop-lg) {
        max-width: 1212px;
        margin-left: auto;
        margin-right: auto;
    }
}

.grid {
    display: grid;
    grid-gap: 60px 40px;
    @include breakpoint(phone) {
        grid-gap: 60px;
    }
    &.grid--3 {
        grid-template-columns: repeat(2, 1fr);
        @include breakpoint(phone) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
    &.title--lg {
        font-size: 30px;
        @include breakpoint(tablet-lg) {
            font-size: 48px;
        }
    }
    &.title--uppercase {
        text-transform: uppercase;
    }
    &.title--border {
        text-align: center;
        @include breakpoint(phone) {
            text-align: left;
        }
        &:after {
            display: block;
            content: '';
            height: 4px;
            width: 22px;
            background-color: var(--color-black);
            margin: 20px auto 0 auto;
            @include breakpoint(phone) {
                margin: 20px 0 0 0;
            }
        }
    }
}

.logo {
    display: block;
    text-align: center;
    opacity: .8;
    transition: all .3s ease-in-out;
    &:hover {
        opacity: 1;
    }
    img {
        max-width: 100%;
        align-self: center;
    }
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint(phone) {
        margin: 0 -12px;
        justify-content: flex-start;
    }
    a {
        font-size: 21px;
        margin: 0 12px;
        color: var(--color-black);
        &:hover {
            color: var(--color-primary);
        } 
    }
    &.social--white {
        a {
            color: var(--color-white);
        }
    }
    &.social--lg {
        font-size: 35px;
        margin: 0 20px;
    }
}


.header {
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
    @include breakpoint(phone) {
        height: 100px;
    }
    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include breakpoint(phone) {
            justify-content: space-between;
        }
    }
    .header__logo {
        display: block;
        svg {
            width: 200px;
            @include breakpoint(phone) {
                width: 260px;
            }
        }
    }
    .header__menu {
        display: none;
        @include breakpoint(phone) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: auto;
            height: 100%;
        }
    }
    .header__nav {
        margin-right: 40px;
        a {
            text-transform: uppercase;
            margin: 0 10px;
            font-size: 14px;
            color: var(--color-black);
            &:hover {
                color: var(--color-primary);
            } 
        }
    }
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    @include breakpoint(tablet-lg) {
        grid-template-columns: 4fr 6fr 6fr;
    }
    .gallery__item {
        display: block;
        cursor: pointer;
        background-color: var(--color-black);
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 164px;
        overflow: hidden;
        @include breakpoint(phone) {
            height: 188px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .3s ease-in-out;
        }
        &:hover {
            img {
                transform: scale(1.08);
                filter: grayscale(50%) contrast(110%);
            }
        }
        &:first-child {
            @include breakpoint(phone) {
                height: 285px;
                margin-bottom: -92px;
            }
        }
        &:nth-child(4) {
            @include breakpoint(phone) {
                height: 286px;
                margin-top: 92px;
            }
        }
        &:last-child {
            grid-column: span 2;
            height: 348px;
            @include breakpoint(phone) {
                height: 378px;
            }
        }
    }
}

.block {
    position: relative;
    overflow: hidden;
    > .container {
        position: relative;
        z-index: 10;
        @include breakpoint(phone) {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .block__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        opacity: .2;
    }
    .block__list {
        display: grid;
        grid-gap: 20px;
        @include breakpoint(phone) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 25px 50px;
        }
        li {
            i {
                font-size: 21px;
                margin-right: 15px;
            }
            a {
                font-style: 18px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .block__txt {
        p {
            line-height: 150%;
            margin-bottom: 20px;
            color: var(--color-text-alt);
            font-size: 15px;
            font-style: italic;
        }
    }
    &.block--hero {
        padding: 150px 0 50px;
        @include breakpoint(phone) {
            padding: 0;
            height: 100vh;
        }
        > .container {
            @include breakpoint(phone) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                height: 100%;
            }
        }
        .block__content {
            .title {
                margin-bottom: 30px;
            }
            .container-song-title{
                transform: translateX(120%);
                transition: all .6s ease-in-out;
            }
            /* .song-detail-container{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            } */
        }
        .block__img {
            backface-visibility: hidden;
            position: absolute;
            bottom: 0;
            max-height: 100%;
            width: 100%;
            object-fit: contain;
            z-index: 5;
            opacity: .2;
            @include breakpoint(phone) {
                right: 0;
                opacity: 1;
                width: auto;
            }
            &.img-playing{
                opacity: .2;
                transition: opacity 1s linear;
            }
        }
    }
    &.block--bottom {
        padding: 50px 0;
        text-align: center;
        @include breakpoint(phone) {
            padding: 110px 0;
            text-align: left;
        }
        .title {
            margin-bottom: 60px;
            @include breakpoint(phone) {
                margin-right: 60px;
                white-space: nowrap;
                margin-bottom: 0;
            }
        }
    }
    &.block--about {
        padding: 50px 0;
        text-align: center;
        @include breakpoint(phone) {
            padding: 100px 0;
            text-align: left;
        }
        @include breakpoint(desktop-lg) {
            padding: 250px 0;
        }
        > .container {
            @include breakpoint(tablet-lg) {
                display: grid;
                grid-template-columns: 7fr 5fr;
                height: 100%;
            }
        }
        .block__content {
            margin-bottom: 50px;
            @include breakpoint(phone) {
                order: 2;
                margin-bottom: 0;
            }
            @include breakpoint(phone) {
                padding-left: 100px;
            }
        }
        .block__about {
            text-align: center;
            @include breakpoint(tablet-lg) {
                float: right;
                margin-top: -25px;
            }
            p {
                font-size: 16px;
                font-weight: 700;
            }
            img {
                max-width: 200px;
                margin-bottom: 10px;
                image-rendering: -webkit-optimize-contrast;
            }
        }
    }
    &.block--footer {
        text-align: center;
        @include breakpoint(phone) {
            text-align: left;
        }
        .block__content {
            padding: 50px 0;
            position: relative;
            z-index: 10;
            @include breakpoint(phone) {
                padding: 180px 0;
            }
        }
        > .container {
            position: relative;
            @include breakpoint(phone) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                height: 100%;
            }
        }
        .block__list {
            margin-bottom: 50px;
            @include breakpoint(phone) {
                margin-bottom: 70px;
            }
        }
        .block__bottom {
            display: grid;
            grid-gap: 20px;
            align-items: center;
            @include breakpoint(phone) {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 25px 50px;
            }
            p {
                font-size: 12px;
            }
        }
        .block__img {
            max-width: 100%;
            left: 0;
            position: absolute;
            top: 0;
            @include breakpoint(phone) {
                max-width: 750px;
                right: -100px;
                left: inherit;
            }
        }
        .title {
            &.title--border {
                margin-bottom: 30px;
                @include breakpoint(phone) {
                    margin-bottom: 70px;
                }
                &:after {
                    background-color: #fff;
                }
            }
        }
    }
    &.block--gradient {
        color: var(--color-white);
        background: rgb(66,18,131);
        background: linear-gradient(115deg, rgba(66,18,131,1) 0%, rgba(75,31,157,1) 54%, rgba(151,47,236,1) 100%);
    }

    &.block--gradient-continuar {
        color: var(--color-white);
        background: rgb(135,10,10);
        background: linear-gradient(110deg, rgba(135,10,10,1) 0%, rgba(74,5,5,1) 23%, rgba(31,19,19,1) 45%, rgba(31,19,19,1) 60%, rgba(55,54,54,1) 100%, rgba(116,116,116,1) 100%);
    }

    &.block--gradient-grados180 {
        color: var(--color-white);
        background: rgb(57,191,4);
        background: linear-gradient(110deg, rgba(57,191,4,1) 0%, rgba(46,129,15,1) 34%, rgba(36,99,14,1) 58%, rgba(21,31,21,1) 100%);
    }

    &.block--gradient-asiEs {
        color: var(--color-white);
        background: rgb(121,5,184);
        background: linear-gradient(110deg, rgba(121,5,184,1) 0%, rgba(98,4,150,1) 0%, rgba(81,3,122,1) 16%, rgba(84,0,129,1) 22%, rgba(104,5,154,1) 58%, rgba(243,157,194,1) 100%, rgba(243,157,194,1) 100%);
    }

    &.block--gradient-caeLaPared {
        color: var(--color-white);
        background: rgb(91,53,102);
        background: linear-gradient(115deg, rgba(91,53,102,1) 0%, rgba(49,28,55,1) 22%, rgba(49,28,55,1) 42%, rgba(78,46,87,1) 63%, rgba(78,46,87,1) 73%, rgba(97,52,110,1) 100%);
    }

    &.block--gradient-errorYPrueba {
        color: var(--color-white);
        background: rgb(66,18,131);
        background: linear-gradient(115deg, rgba(66,18,131,1) 0%, rgba(75,31,157,1) 54%, rgba(151,47,236,1) 100%);
    }

    &.block--gradient-estoyBien {
        color: var(--color-white);
        background: rgb(215,0,40);
        background: linear-gradient(115deg, rgba(215,0,40,1) 0%, rgba(142,0,26,1) 26%, rgba(136,0,25,1) 53%, rgba(125,144,106,1) 100%, rgba(125,144,106,1) 100%, rgba(164,0,15,1) 100%);
    }

    &.block--gradient-llamadasPerdidas {
        color: var(--color-white);
        background: rgb(161,8,106);
        background: linear-gradient(115deg, rgba(161,8,106,1) 0%, rgba(113,4,74,1) 25%, rgba(119,6,79,1) 56%, rgba(201,6,152,1) 93%);
    }

    &.block--gradient-superLento {
        color: var(--color-white);
        background: rgb(16,49,101);
        background: linear-gradient(115deg, rgba(16,49,101,1) 0%, rgba(16,49,101,1) 27%, rgba(42,48,113,1) 58%, rgba(49,57,136,1) 73%, rgba(80,91,209,1) 100%);
    }

    &.block--gradient-vietnam {
        color: var(--color-white);
        background: rgb(17,115,55);
        background: linear-gradient(115deg, rgba(17,115,55,1) 0%, rgba(17,115,55,1) 2%, rgba(70,115,90,1) 42%, rgba(70,115,90,1) 54%, rgba(66,149,193,1) 100%, rgba(66,149,193,1) 100%);
    }


    /* block--gradient-continuar */
    // Continuar
    /* background: rgb(135,10,10);
background: linear-gradient(90deg, rgba(135,10,10,1) 0%, rgba(0,0,0,1) 41%, rgba(0,0,0,1) 69%, rgba(84,84,84,1) 92%); */

    // 180 grados
    // background: rgb(57,191,4);
    // background: linear-gradient(90deg, rgba(57,191,4,1) 0%, rgba(57,191,4,1) 35%, rgba(21,31,21,1) 61%, rgba(0,0,0,1) 100%);

    // Así es
    // background: rgb(121,5,184);
    // background: linear-gradient(90deg, rgba(121,5,184,1) 0%, rgba(63,4,94,1) 11%, rgba(38,3,56,1) 20%, rgba(34,2,51,1) 37%, rgba(69,3,105,1) 51%, rgba(121,5,184,1) 70%, rgba(121,5,184,1) 75%, rgba(28,1,42,1) 100%);

    // Cae la pared
    // background: rgb(91,53,102);
    // background: linear-gradient(90deg, rgba(91,53,102,1) 0%, rgba(49,28,55,1) 22%, rgba(49,28,55,1) 42%, rgba(78,46,87,1) 63%, rgba(78,46,87,1) 73%, rgba(97,52,110,1) 100%);

    // Error y prueba
    // background: rgb(66,18,131);
    // background: linear-gradient(115deg, rgba(66,18,131,1) 0%, rgba(75,31,157,1) 54%, rgba(151,47,236,1) 100%);


    // Estoy bien
    // background: rgb(215,0,40);
    // background: linear-gradient(90deg, rgba(215,0,40,1) 0%, rgba(142,0,26,1) 26%, rgba(136,0,25,1) 53%, rgba(125,144,106,1) 100%, rgba(125,144,106,1) 100%, rgba(164,0,15,1) 100%);

    // Llamadas perdidas
    // background: rgb(161,8,106);
    // background: linear-gradient(115deg, rgba(161,8,106,1) 0%, rgba(113,4,74,1) 25%, rgba(119,6,79,1) 56%, rgba(201,6,152,1) 93%);

    // SUperLento
    // background: rgb(16,49,101);
    // background: linear-gradient(115deg, rgba(16,49,101,1) 0%, rgba(16,49,101,1) 27%, rgba(42,48,113,1) 58%, rgba(49,57,136,1) 73%, rgba(80,91,209,1) 100%);

    // Vietnam
    // background: rgb(17,115,55);
    // background: linear-gradient(115deg, rgba(17,115,55,1) 0%, rgba(17,115,55,1) 2%, rgba(70,115,90,1) 42%, rgba(70,115,90,1) 54%, rgba(66,149,193,1) 100%, rgba(66,149,193,1) 100%);

}

.container-song-title{
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    > .title{
        width: 100%;
        .background {
            // padding: .5rem .5rem 0;
            // width: 80%;
            // .container {
            //     padding-bottom: 1.5rem;
            //     padding-top: 1.2rem;
            //     width: 50%;
            //     margin: 0 auto;
            //     span {
            //         font-weight: bold;
            //         font-size: 2rem;
            //         padding-bottom: 1rem;
            //     }
            //     .hr {
            //         background-color: black;
            //         border: none;
            //         height: 8px;
            //         width: 25px;
            //     }
            // }
        }
    }
    > .songs{
        // display: flex;
        // justify-content: flex-end;
        // align-items: center;
    }

}


.playlist-container {
    @include breakpoint(phone) {
        width: 75%;
    }
    .song-container {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .name {
            width: 80%;
            text-align: left;
            font-size: 14px;
        }
        .play-icon {
            display: flex;
            justify-content: center;
            width: 20%;
            span {
                margin-right: 1.5rem;
                color: rgb(141, 141, 141);
            }
            button {
                background-color: transparent;
                border: none;
                padding: 0;
                outline: none;
                cursor: pointer;
            }
        }
    }
}

.song-detail-container{
    position: absolute;
    width: 550px;
    .options-container{
        width: 90%;
        padding: 1rem;
        .options-button{
            padding: .1rem 2rem;
            border-bottom: solid 1px #ccc;
        }
        .options-active{
            border-bottom: solid 1px black;
        }
    }
    .detail-container{
        overflow-y: scroll;
        width: 80%;
        height: 400px;
        padding: 1rem 2rem;
        > div {
            position: relative;
            > div {
                position: absolute;
                width: 100%;
                p {
                    white-space: pre-wrap;
                    line-height: 150%;
                }
            }
        }
    }
}

.rhap_container{
    position:fixed;
    bottom: 0;
    z-index: 900;
    transition: all .3s ease-in-out;
    transform: translateY(100%);
    &.active {
        transform: translateY(0);
    }
  /*   .rhap_main{
        
        
        &.rhap_stacked{
            
            .rhap_progress-section{
                
                .rhap-time{
                    &.rhap_current-time{

                    }
                }

                .rhap-progress-container{
                    
                }

            }
            .rhap-controls-section{
                
            } 

        } 

    } */
} 

/* 
will run on items added after initial mount
*/
.example-enter {
    opacity: 0.01;
  }
  .example-enter-active {
    opacity: 1;
    transition: opacity 1500ms ease-in;
  }
  .example-enter-done {
    opacity: 1;
  }
  /* 
  will run on any item being removed
  */
  .example-exit {
    opacity: 0.5;
  }
  .example-exit-active {
    opacity: 1;
    transition: opacity 1000ms ease-in-out;
  }
  .example-exit-done {
    opacity: 0;
  }
  /* 
  set to false by default.
  will run on initial mount only
  */
  .example-appear {
    opacity: 0.01;
  }
  .example-appear-active {
    opacity: 1;
    transition: opacity 2000ms ease-in-out;
  }
  .example-appear-done {
    /* doesn't exist  use -enter-done */
    opacity: 1;
  }
  
  // FADE
  
  .fade-appear,
  .fade-enter {
    opacity: 0;
    z-index: 1;
    position: absolute;
    width: 100%;
  }
  .fade-appear-active,
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
    position: absolute;
    width: 100%;
  }
  
  .fade-exit {
    opacity: 1;
    position: absolute;
    width: 100%;
  }
  
  .fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms linear 150ms;
    position: absolute;
    width: 100%;
  }
  
  .fade-enter-done {
    position: absolute;
  }