// A map of breakpoints.
$breakpoints: (
  phone-sm: 420px,
  phone: 767px,
  tablet-lg: 1024px,
  desktop-lg: 1202px
);

:root {
  // fonts
  --main-font: 'Poppins', sans-serif;

  // colors
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-primary: #3613AB;
  --color-secondary: #950AE1;
  --color-grey: #8A8A8A;

  // globals
  --color-text: var(--color-black);
  --color-text-alt: var(--color-grey);
  --bg-body: var(--color-white);
}
