a {
color: inherit; 
text-decoration: inherit; 
}

.background{
    background-image: url('../design/vanderasoloright.jpg');
    background-size: cover;
    height: 100vh;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}

.header-logo{
    width: 260px;
}

.link-redes-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    .link-container{
        margin-right: 1rem;
    }
        .link-container a{
            padding: 0 .5rem;
            text-decoration: none;
            color: black;
        }

.header-container .redes-container i{
    padding: 0 .5rem;
}
