.container-background-title{
    padding: .5rem .5rem 0;
    width: 100%;
    background-image: url('../../src/design/continuar-title.png');
    background-size: cover;
}

.container-dynamic-title{
    color: red;
    padding-bottom: 1.5rem;
    padding-top: 1.2rem;
    width: 50%;
    margin: 0 auto;
}


.container-dynamic-title span{
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 1rem;


}

.hr{
    background-color: black;
    border: none;
    height: 8px;
    width: 25px;
}